.header-image {
    width:100%;
    z-index:-1;
    margin-top: -150px;
    filter: opacity(.25);
    box-shadow: 0px 0px 10px black;
}

Body {
    margin: 0 0;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -115px;
}

.moto-logo {
    position: relative;
    margin-top: -85px;
    width: 80%;
    right: 35px;
    
}

h1 {
    position: relative;
    top: -115px;
    font-size: 5vw;
    left: 40px;
}

.container {
    margin-top: -90px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.images {
    width: 50%;
    box-shadow: 0px 0px 5px black;
    border-radius: 2px;;
    margin-bottom: 2%;
}


h2 {
    font-size: 5vw;;
}

p {
    font-size: 4.5vw;
    margin: 0 5%;
    margin-bottom: 1%;
    text-align: center;
}