.header-image {
    width:100%;
    z-index:-1;
    margin-top: -160px;
    filter: opacity(.25);
    box-shadow: 0px 0px 10px black;
}

Body {
    margin: 0 0;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -28%;
}

.moto-logo {
    position: relative;
    margin-top: -4%;
    width: 90%;
    right: 8%;
    
}

h1 {
    position: relative;
    margin-top: -9%;
    font-size: 5vw;
    left: 8%;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.images {
    width: 50%;
    box-shadow: 0px 0px 5px black;
    border-radius: 2px;;
    margin-bottom: 5px;
}


h2 {
    font-size: 5vw;;
}

p {
    font-size: 4.5vw;
    margin: 0 5%;
    margin-bottom: 5px;
    text-align: center;
}

@media screen and (min-width:500px){
    .header-image {
        width:100%;
        z-index:-1;
        margin-top: -150px;
        filter: opacity(.25);
        box-shadow: 0px 0px 10px black;
    }

    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: -300px;
    }
}